body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-color: rgba(99,100,163);
    /*#6364a3* #898dca*/
    color: #dddde5;
  }

  h1, p {
    text-align: center;
    font-weight: 100;
  
  }
  
  
  form {
    background-color: #2e2d4a;
    /* rgba(46,45,74,255)*/
    border: 1px solid #2e2d4a;
    border-radius: 5px;
    padding: 40px;
    width: 30%;
    min-width: 550px;
    margin: 0 auto;
  }
  